<app-navbar></app-navbar>

<div *ngIf="article" class="card mt-3 mx-auto" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.content }}</p>
      <p class="card-text">Mots-clés : {{ article.keywords }} </p>
      <p class="card-text">Auteur : <a [routerLink]="['/author', article.id]"> {{ article.author.name }} </a></p>
    </div>
</div>

<h5 class="text-center mt-5">Autres articles similaires :</h5>
<div *ngIf="articlesKeywords" class="d-flex justify-content-center">

    <div class="card" *ngFor="let other of articlesKeywords" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{other.title}}</h5>
          <p class="card-text">{{other.content}}</p>
          <p class="card-text">{{other.keywords}}</p>
          <p>id : {{other.id}}</p>
          <a [routerLink]="['/articles', other.id]"class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>