<form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username"  name="username" formControlName="username" required>
  
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" formControlName="password" name="password" required>
  
    <label for="bio">Biographie:</label>
    <textarea id="bio" formControlName="bio" name="bio"></textarea>
  
    <button type="submit">Inscription</button>
</form>